@model MVC_ChiefsCorner.Models.Menu

@{
    ViewData["Title"] = "MenuDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="text-center">

    <dl class="row" style="justify-content:center">
        <dd> <h1 class="text-center mb-3">Menu Details</h1></dd>
        <dd><hr /></dd>
        <dd><h4>@Html.DisplayFor(model => model.Name)</h4></dd>
        <dd><hr /></dd>
        <dd>
            <img src="@Html.DisplayFor(model => model.ImagePath)" class="img-fluid" height="400" width="400" draggable="true" />
        </dd>
        <dd>
            @Html.DisplayFor(model => model.MenuCategory.Name)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Price) ₺
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd>
            <a asp-action="Index"><i class="fa-solid fa-arrow-left fa-4x"></i></a>
        </dd>
    </dl>
</div>
<div>
    @*    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
</div>
