@model List<Menu>

<div class="text-center m-4">
    <a asp-action="Index"><i class="fa-solid fa-arrow-left fa-4x"></i></a>
    <h1>
        Menus
    </h1>
</div>

<div class="container">
    <div class="row" style="justify-content:center">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 border-2 m-2">
                <div class="card text-center" style="width: 18rem;">
                    <img class="card-img-top width:80px height:200px;" src="@Html.DisplayFor(modelItem => item.ImagePath)" alt="Card image cap">
                    <div class="card-body">

                        <p class="card-text">@Html.DisplayFor(modelItem => item.Name) </p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Price) ₺</p>
                        <a asp-action="AddToOrder" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa-sharp fa-solid fa-plus"></i></a>
                        <a asp-action="MenuDetails" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa-sharp fa-solid fa-circle-info"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>


